:root {
  --purple: rgba(29, 47, 111, 1);
  --lightpurple: rgba(131, 144, 250, 1);
  --yellow: rgba(250, 199, 72, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--lightpurple);
}

/* Header */
header {
  background-color: var(--purple);
  color: white;
  font-family: 'Oswald';
  font-size: 30px;
}

header h1 {
  text-align: center;
  padding: 10px;
}

/* Nav */
.nav-list {
  background-color: var(--purple);
  color: var(--lightpurple);
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20px;
}

.nav-links {
  margin: 0 30px;
  padding: 0 8px 3px 8px;
}

.navActive {
  color: var(--yellow);
  font-weight: bold;
}

/* Main sections */
main {
  background-color: var(--lightpurple);
}

section {
  padding: 40px;
}

section h2 {
  padding-bottom: 20px;
  font-size: 30px;
  color: var(--yellow);
}

/* About */
.about-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

.about-container p {
  color: var(--purple);
  padding-right: 20px;
  line-height: 2;
  width: 60%;
}

.about-container img {
  width: auto;
  height: 300px;
}

/* Portfolio */
.project-container {
  display: flex;
  flex: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  color: var(--purple);
  margin: 20px;
}

.project-card a {
  text-decoration: none;
  color: var(--purple);
  padding-right: 20px;
}

.card-image {
  display: block;
  padding-top: 10px;
  margin-top: 9px;
  border-top: 3px solid var(--purple);
}

.project-card i:hover,
.project-card a:hover {
  color: var(--yellow);
}

/* Resume */
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border-bottom: 3px solid var(--purple);
  margin: auto;
  width: 80%;
}

.skill-list li {
  padding: 50px 50px;
  font-size: 20px;
  color: var(--purple);
}

.skill-list span {
  padding-right: 7px;
}

.sub-title {
  text-align: center;
  font-size: 20px;
  color: var(--yellow);
  margin: 40px 0px;
}

.here {
  font-weight: bolder;
  color: var(--purple);
  text-decoration: none;
}

.here:hover {
  color: var(--yellow);
  border-bottom: 3px solid var(--yellow);
}

.download {
  color: var(--purple);
  font-size: 20px;
  padding-top: 30px;
  text-align: right;
}

/* Contact */
form {
  background-color: var(--purple);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 700px;
}

form div {
  padding: 10px;
  margin: 10px;
}

form input {
  width: 100%;
  height: 30px;
}

form textarea {
  width: 100%;
}

button {
  padding: 10px 40px;
  margin: 30px;
  background-color: var(--lightpurple);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid var(--lightpurple);
  border-radius: 5px;
}

button:hover {
  background-color: var(--yellow);
}

.formDisclaimer {
  padding-top: 20px;
}

.disclaimer {
  color: rgba(250, 199, 72, 1);
  font-weight: bold;
  padding-right: 15px;
}

/* Footer */

.footer {
  color: var(--lightpurple);
  background-color: var(--purple);
  font-weight: bold;
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  color: var(--lightpurple);
  margin-right: 20px;
}

.footer-links:hover,
.footer-links a:hover {
  color: var(--yellow);
}

/* Icons */
.fa-brands,
.fa-solid,
.fa-regular {
  padding-right: 3px;
}

.fa-arrow-right-long {
  color: var(--yellow);
  padding-right: 10px;
}

/* Start of Media Queries */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

  /* About */
  .about-container {
    flex-direction: column-reverse;
  }

  .about-container p {
    margin-top: 10px;
    width: 100%;
  }

  .about-container img {
    width: 80%;
    height: auto;
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  /* Nav */
  .nav-list {
    background-color: var(--purple);
    color: var(--lightpurple);
    font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 20px;
  }

  .nav-links {
    margin: 0px
  }

  /* Portfolio */
  .card-image {
    width: 300px;
  }

  /* Contact */
  form {
    width: 100%;
  }

  /* Resume */
  .skill-list {
    display: block;
    margin: auto;
  }

  .skill-list span {
    display: block;
    margin-bottom: 10px;
  }

  .skill-list li {
    padding: 30px;
    margin: auto;
    text-align: center;
  }

  .download {
    text-align: center;
  }

  /* Footer */
  .footer {
    display: block;
    text-align: center;
  }

  .footer p {
    margin-top: 20px;
  }

  .footer-list {
    display: block;
  }

  .footer-links {
    margin-top: 20px;
  }

}